{% extends '_base.html' %}

<!--title-->
{% block title %}Blog{% endblock title %}
<!--content-->
{% block content %} {% include 'breadcrumb.html' %}
<div
    class="grid grid-cols-4 bg-white mb-5 shadow shadow-slate-300 rounded-2xl p-5 gap-5"
>
    <!--content sidebar-->
    <div class="bg-slate-50 rounded-2xl shadow pt-5">
        {% include 'category_tree.html' %}
    </div>
    <!--content blog card-->
    <div class="grid bg-slate-50 col-span-3 rounded-2xl p-5 shadow gap-5">
        <!--blog card-->

        {% for article in page_articles %}

        <div
            class="grid grid-cols-2 rounded-2xl shadow shadow-blue-950 overflow-hidden"
        >
            <div class="flex flex-col h-full justify-between pr-5 pt-2 pb-2">
                <div class="flex gap-1">
                    <h4>{{ article.datetime_updated }} |</h4>
                    <h4>Category: {{ article.category_main }}</h4>
                </div>
                <div>
                    <h2>{{ article.title }}</h2>
                </div>
                <div>
                    <p>{{ article.summary|safe }}</p>
                </div>
                <div>
                    <a href="{{ article.get_absolute_url }}">Read more</a>
                </div>
            </div>
            <div class="overflow-hidden shadow justify-items-center">
                <img
                    src="{{ article.image.url }}"
                    alt="{{ article.image_alt_text }}"
                    class="w-105 h-80 shadow hover:scale-110 transition duration-300"
                />
            </div>
        </div>
        {% endfor %}
        <div class="inline-flex items-center gap-3">
            {% if page_articles.has_previous %}
            <a href="?page=1" class="group flex h-10 w-10 items-center justify-end">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="size-4 group-hover:animate-arrow-right"
                >
                    <path
                        fill-rule="evenodd"
                        d="M13.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L11.69 12 4.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z"
                        clip-rule="evenodd"
                    />

                    <path
                        fill-rule="evenodd"
                        d="M19.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06L17.69 12l-6.97-6.97a.75.75 0 0 1 1.06-1.06l7.5 7.5Z"
                        clip-rule="evenodd"
                    />
                </svg>
            </a>

            <a
                href="?page={{ page_articles.previous_page_number }}"
                class="flex h-10 w-10 items-center justify-center rounded-sm border border-slate-200 bg-white text-sm font-semibold text-slate-700 shadow-sm transition-all duration-300 hover:border-blue-500 hover:bg-blue-500 hover:text-white hover:shadow-md"
            >
                {{ page_articles.previous_page_number }}
            </a>
            {% endif %}

            <span
                class="flex h-10 w-10 items-center justify-center rounded-sm bg-blue-500 text-sm font-bold text-white shadow-md ring-2 ring-blue-200"
            >
                {{ page_articles.number }}
            </span>

            {% if page_articles.has_next %}
            <a
                href="?page={{ page_articles.next_page_number }}"
                class="flex h-10 w-10 items-center justify-center rounded-sm border border-slate-200 bg-white text-sm font-semibold text-slate-700 shadow-sm transition-all duration-300 hover:border-blue-500 hover:bg-blue-500 hover:text-white hover:shadow-md"
            >
                {{ page_articles.next_page_number }}
            </a>

            <a
                href="?page={{ page_articles.paginator.num_pages }}"
                class="group flex h-10 w-10 items-center justify-start"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="size-4 group-hover:animate-arrow-left"
                >
                    <path
                        fill-rule="evenodd"
                        d="M10.72 11.47a.75.75 0 0 0 0 1.06l7.5 7.5a.75.75 0 1 0 1.06-1.06L12.31 12l6.97-6.97a.75.75 0 0 0-1.06-1.06l-7.5 7.5Z"
                        clip-rule="evenodd"
                    />

                    <path
                        fill-rule="evenodd"
                        d="M4.72 11.47a.75.75 0 0 0 0 1.06l7.5 7.5a.75.75 0 1 0 1.06-1.06L6.31 12l6.97-6.97a.75.75 0 0 0-1.06-1.06l-7.5 7.5Z"
                        clip-rule="evenodd"
                    />
                </svg>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
<!--Script-->
{% block extra_js %}
<script
    defer
    src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
></script>
{% endblock extra_js %}
