{% extends '_base.html' %}
<!-- prettier-ignore -->
{% block title %}
{%if page.meta_title%}{{page.meta_title}}{%elif setting.site_title%}{{setting.site_title}}
{%else %}{% endif %}{% endblock title %}

{%block meta_description%}{%if page.meta_description%}{{page.meta_description}}{% elif setting.site_description%}{{setting.site_description}}{% else %}{% endif %}
{% endblock meta_description %}
{% block content %}

{% include 'includes/breadcrumb.html' %}
<div class="bg-white gap-5 shadow shadow-slate-300 rounded-2xl p-5">
    <div class="grid bg-slate-50 rounded-2xl p-5 shadow gap-3">
        <h1>{{page.title|capfirst}}</h1>
        <p class="text-justify">{{page.description|capfirst}}</p>
    </div>
</div>
{% endblock content %}