{% load static %}

<!doctype html>
<html lang="fa" dir="rtl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} {% endblock title %} | YadakOtol</title>
        <meta
            name="description"
            content="{% block meta_description %}{% endblock meta_description %}"
        />
        <link rel="stylesheet" href="{% static 'css/output.css' %}" />
        {% block extra_head %} {% endblock %}
    </head>
    <body class="bg-slate-50 text-slate-800 min-h-screen">
        <header>{% include 'header.html' %}</header>

        <!--Main Content-->
        {% block content %} {% endblock content %}

        <footer>{% include 'footer.html' %}</footer>
        {% block extra_js %}{% endblock %}
    </body>
</html>
