<div
    class="grid grid-rows-none place-items-stretch mt-5 mb-3 ml-10 mr-10 p-4 z-50 shadow shadow-slate-300 rounded-2xl bg-white"
>
    <div class="inline-grid grid-cols-4 gap-10">
        <div class="grid">
            <h3>Subscribe in news</h3>
            <label for="name">Name</label>
            <input type="text" id="name" class="border-2 rounded-md" />
            <label for="phone">Phone Number</label>
            <input type="text" id="phone" class="border-2 rounded-md" />
        </div>
        <div class="grid">
            <h3>Contact Us</h3>
            <a href="">0912-801-3692</a>
        </div>
        <div class="grid">
            <a href="">Price List</a>
            <a href="/blog/">Blogs</a>
            <a href="">Privacy Policy</a>
        </div>
        <div class="flex gap-3">
            <img src="" alt="Email" />
            <img src="" alt="Instagram" />
            <img src="" alt="WhatsApp" />
        </div>
    </div>
    <div class="grid place-items-end">
        <p>Copyright © 2026 YadakOtol.com</p>
        <p class="text-sm">Designed by M.Hajizadeh 09128013692</p>
    </div>
</div>
