<div
    class="grid grid-rows-none place-items-stretch mt-5 mb-3 ml-10 mr-10 p-4 z-50 shadow shadow-slate-300 rounded-2xl bg-white"
>
    <div class="inline-grid grid-cols-4 gap-10">
        <div class="grid">
            <h3>Subscribe</h3>
            <p>Subscribe to our newsletter to get the latest updates.</p>
            <form
                class="grid gap-1"
                action="{% url 'subscribe' %}"
                method="post"
                id="subscribe-form"
            >
                {% csrf_token %}
                <label for="name">Name:</label>
                <input
                    class="border border-gray-300 rounded py-2 px-4"
                    type="text"
                    id="name"
                    name="name"
                    required
                />
                <label for="phone_number">CellPhone:</label>
                <input
                    class="border border-gray-300 rounded py-2 px-4"
                    type="tel"
                    id="phone_number"
                    name="phone_number"
                    required
                />
                <div id="phone_number_error" class="text-red-500 text-sm"></div>
                <div id="message" class="text-green-500 text-sm"></div>
                <button class="bg-blue-500 text-white py-2 px-4 rounded" type="submit">
                    Subscribe
                </button>
            </form>
        </div>
        <div class="grid">
            <h3>Contact Us</h3>
            <a href="">0912-801-3692</a>
        </div>
        <div class="grid">
            <a href="">Price List</a>
            <a href="/blog/">Blogs</a>
            <a href="">Privacy Policy</a>
        </div>
        <div class="flex gap-3">
            <img src="" alt="Email" />
            <img src="" alt="Instagram" />
            <img src="" alt="WhatsApp" />
        </div>
    </div>
    <div class="grid place-items-end">
        <p>Copyright © 2026 YadakOtol.com</p>
        <p class="text-sm">Designed by M.Hajizadeh 09128013692</p>
    </div>
</div>
<script>
    document
        .getElementById('subscribe-form')
        .addEventListener('submit', function (event) {
            event.preventDefault();
            const formData = new FormData(this);
            fetch(this.action, {
                method: 'POST',
                body: formData,
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data.success) {
                        const msg = document.getElementById('message');
                        msg.innerHTML = '✅ ' + data.message;
                        this.reset();
                    }
                    if (data.errors.phone_number) {
                        const msg = document.getElementById('phone_number_error');
                        msg.innerHTML = '❌ ' + data.errors.phone_number[0];
                    }
                });
        });
</script>
