<!-- prettier-ignore -->
{% load media_placeholder %} 
{% load static %}
<div
    class="grid grid-rows-none place-items-stretch mt-5 p-5 z-50 shadow shadow-slate-300 rounded-2xl bg-white"
>
    <div class="grid grid-cols-20">
        <div class="grid col-span-4">
            <h3>Subscribe</h3>
            <p>Subscribe to our newsletter to get the latest updates.</p>
            <form
                class="grid gap-1"
                action="{% url 'subscribe' %}"
                method="post"
                id="subscribe-form"
            >
                {% csrf_token %}
                <label for="name">Name</label>
                <input
                    class="border border-gray-300 rounded py-2 px-4 hover:border-blue-400 focus-within:outline-blue-400"
                    type="text"
                    id="name"
                    name="name"
                    required
                />
                <label for="phone_number">Mobile Phone</label>
                <input
                    class="border border-gray-300 rounded py-2 px-4 hover:border-blue-400 focus-within:outline-blue-400"
                    type="tel"
                    id="phone_number"
                    name="phone_number"
                    required
                />
                <div id="message" class="text-green-500 text-sm"></div>
                <div id="phone_number_error" class="text-red-500 text-sm"></div>

                <button
                    class="bg-blue-500 hover:bg-blue-600 focus-within:outline-blue-600 text-white py-2 px-4 rounded"
                    type="submit"
                >
                    Subscribe
                </button>
            </form>
        </div>
        <div class="grid col-span-5 items-start gap-5 px-10">
            <h3>Contact Us</h3>
            <div class="flex gap-2">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="size-6"
                >
                    <path
                        fill-rule="evenodd"
                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 0 0 0-1.5h-3.75V6Z"
                        clip-rule="evenodd"
                    />
                </svg>
                <span class="flex gap-3"> from 8:00 to 20:00 </span>
            </div>
            <a href="tel:09128013692" class="flex gap-2"
                ><svg viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path
                        fill-rule="evenodd"
                        d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z"
                        clip-rule="evenodd"
                    />
                </svg>
                <span>0912-801-3692</span></a
            >
            <a href="#" class="flex gap-2"
                ><svg viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path
                        fill-rule="evenodd"
                        d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                        clip-rule="evenodd"
                    />
                </svg>
                <span class="flex w-3/4 text-justify"
                    >Tehran, Qiyam Square, North Ray Street, next to Ray Bridge, left
                    side of Auto Yadak</span
                >
            </a>
        </div>
        <div class="grid col-span-4 gap-3 items-start px-10">
            <h3>Links</h3>
            <a href="{% url 'blog:list' %}" class="hover:text-blue-800 hover:underline"
                >Blog</a
            >
            <a href="{% url 'core:about' %}" class="hover:text-blue-800 hover:underline"
                >About</a
            >
            <a href="{% url 'price_list' %}" class="hover:text-blue-800 hover:underline"
                >Price List</a
            >
            <a href="#" class="hover:text-blue-800 hover:underline">Privacy Policy</a>
        </div>
        <div class="grid col-span-7 items-center">
            <div class="flex gap-5 justify-center h-10">
                <a href=""
                    ><img
                        src="{% static 'images/svg/telegram.svg' %}"
                        alt="Telegram"
                        class="w-12 h-12 hover:scale-102"
                /></a>
                <a href=""
                    ><img
                        src="{% static 'images/svg/whatsapp.svg' %}"
                        alt="WhatsApp"
                        class="w-12 h-12 hover:scale-102"
                /></a>
                <a href=""
                    ><img
                        src="{% static 'images/svg/instagram.svg' %}"
                        alt="Instagram"
                        class="w-12 h-12 hover:scale-102"
                /></a>
            </div>
            <div class="flex gap-5">
                <!-- prettier-ignore -->
                {% placeholder 150 150 "Image 1" %} 
                {% placeholder 150 150 "Image 2" %} 
                {% placeholder 150 150 "Image 3" %}
            </div>
        </div>
    </div>
    <div class="grid place-items-start mt-3 pt-2 border-t border-slate-200">
        <p>Copyright © 2026 YadakOtol.com</p>
        <p class="text-sm">Designed by M.Hajizadeh 09128013692</p>
    </div>
</div>
<script src="{% static 'js/footer.js' %}"></script>
