<nav
    class="flex justify-between items-center mt-3 mb-5 ml-10 mr-10 p-4 z-50 shadow shadow-slate-300 rounded-2xl bg-white"
>
    <ul class="flex">
        <li class="pl-10 pr-10">
            <a href="/" class="">Home</a>
        </li>
        <li class="pl-10">
            <a href="/blog" class="">Blog</a>
        </li>
        <li class="pl-10">
            <a href="/about" class="">About</a>
        </li>
        <li class="">
            <a href="/contact" class="">Contact</a>
        </li>
    </ul>
    <div class="flex justify-between items-center">
        <img src="/media/logo/yadakotol.png" alt="Logo" class="w-45 h-18" />
    </div>
    <ul class="flex items-center">
        <li class="pl-10">
            <input
                class="w-70 h-9 bg-white border-2 rounded-md"
                type="search"
                name=""
                id=""
            />
        </li>
        <li class="pl-10">
            <a
                href="{% url 'pricing' %}"
                class="bg-blue-800 text-amber-50 pt-2 pb-2 pr-7 pl-7 rounded-md"
                >Price</a
            >
        </li>
    </ul>
</nav>
